<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav}}

<div class="row">
    <div class="col-8">{{boardMaster.name}} 등록</div>
    <div class="col-4"><div style="text-align: right;width: 100%; padding-bottom: 5px"><a class="btn btn-primary" href="/admin/board/register/{{board_master_id}}" role="button">등록</a></div></div>
</div>
<div class="card mt-5">
    <div class="card-body">
        <form name="boardForm" id="boardForm" method="post" action="/admin/board/register/{{board_master_id}}" enctype="multipart/form-data" onsubmit="return submitCheck(this); return false;">
            <input type="hidden" name="boardMaster.id" value="{{board_master_id}}" />

            <div class="form-group">
                <label for="name">제목 </label>
                <input class="form-control" id="title" name="title" type="text">
            </div>
            <div class="form-group">
                <label for="name">내용 </label>
                <textarea class="form-control" name="contents" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="file1">첨부파일 </label>
                <input id="file1" type="file" name="file" />
                <br />
                <label for="file2">첨부파일 </label>
                <input id="file2" type="file" name="file" />
                <br />
                <label for="file3">첨부파일 </label>
                <input id="file3" type="file" name="file" />
            </div>
            <div style="text-align: center">
                <input type="submit" value="등록" class="btn btn-primary" />
                <a class="btn btn-secondary" href="/admin/board/list/1" role="button">목록</a>
            </div>
        </form>
    </div>
</div>

{{> admin/common/footer }}

<script type="text/javascript">
    function blankCheck(val) {
        var check=true;
        if( val == '' || val == 'undefined') {
            check=false;
        }
        return check;
    }

    function submitCheck(form) {
        var name = $("#title").val();
        if(!blankCheck(name)) {
            alert("제목을 입력하세요.");
            $("#title").focus();
            return false;
        }

        var file1 = $("input[id=file1]").val();
        var file2 = $("input[id=file2]").val();
        var file3 = $("input[id=file3]").val();
        var maxSize = 512*1024*1024;
        var fileSize =0;

        if(file1!=''){
            fileSize =$("#file1")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file2!=''){
            fileSize =$("#file2")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        if(file3!=''){
            fileSize =$("#file3")[0].files[0].size;
            if(fileSize>maxSize){
                alert("첨부파일 사이즈는 512MB 이내로 등록 가능합니다.");
                return false;
            }
        }

        return true;
    }
</script>
</body>
</html>

