<div class="_l" id="step03">
<div class="formsGroup noHP">
    <div class="forms hasP hasFormsTitle">
        <div class="formsTitle">드레인</div>
        <div class="form hasUnitS half">
            <span class="formMsg">필수입력</span>
            <select class="focusAct" name="structureDetail.gucci">
                <option value="75" {{#equals 75 gucci}}selected="selected"{{/equals}}>75</option>
                <option value="100" {{#equals 100 gucci}}selected="selected"{{/equals}}>100</option>
                <option value="125" {{#equals 125 gucci}}selected="selected"{{/equals}}>125</option>
            </select>
            <div class="unit">DIA</div>
        </div>
        <div class="form hasUnitS half">
            <input type="number" name="structureDetail.gucciAmount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="{{gucciAmount}}" />
            <div class="unit">EA</div>
        </div>
    </div>
    {{#equals 'AG' type}}
    <div class="forms hasP hasFormsTitle">
        <div class="formsTitle">드레인안쪽</div>
        <div class="form hasUnitS half">
            <span class="formMsg">필수입력</span>
            <select class="focusAct" name="structureDetail.gucciInside">
                <option value="75" {{#equals 75 gucciInside}}selected="selected"{{/equals}}>75</option>
                <option value="100" {{#equals 100 gucciInside}}selected="selected"{{/equals}}>100</option>
                <option value="125" {{#equals 125 gucciInside}}selected="selected"{{/equals}}>125</option>
            </select>
            <div class="unit">DIA</div>
        </div>
        <div class="form hasUnitS half">
            <input type="number" name="structureDetail.gucciInsideAmount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="{{gucciInsideAmount}}" />
            <div class="unit">EA</div>
        </div>
    </div>
    {{/equals}}
    {{#equals 'SL' type}}
        <div class="forms hasP hasFormsTitle">
            <div class="formsTitle">옵탑구찌</div>
            <div class="form hasUnitS half">
                <span class="formMsg">필수입력</span>
                <select class="focusAct" name="structureDetail.gucciInside">
                    <option value="75" {{#equals 75 gucciInside}}selected="selected"{{/equals}}>75</option>
                    <option value="100" {{#equals 100 gucciInside}}selected="selected"{{/equals}}>100</option>
                    <option value="125" {{#equals 125 gucciInside}}selected="selected"{{/equals}}>125</option>
                </select>
                <div class="unit">DIA</div>
            </div>
            <div class="form hasUnitS half">
                <input type="number" name="structureDetail.gucciInsideAmount" pattern="[0-9]*" inputmode="numeric" min="0" placeholder="수량" autocomplete="off" class="focusAct" value="{{gucciInsideAmount}}" />
                <div class="unit">EA</div>
            </div>
        </div>
    {{/equals}}
    <div class="meterial">
        <div class="meterialGroup {{#if insideWallList}}on{{/if}}" id="insideWallArea">
        {{> estimate/step03-1}}
        </div>

        <div class="meterialGroup {{#if ceilingList}}on{{/if}}" id="ceilingArea">
        {{> estimate/step03-2}}
        </div>

        <div class="meterialGroup {{#if windowList}}on{{/if}}" id="windowArea">
        {{> estimate/step03-3}}
        </div>

        <div class="meterialGroup {{#if doorList}}on{{/if}}" id="doorArea">
        {{> estimate/step03-4}}
        </div>

        <div class="meterialGroup {{#if canopyList}}on{{/if}}" id="canopyArea">
        {{> estimate/step03-5}}
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var sdetailId = $("#structure_id").val();
    //수정
    if(sdetailId!='0'){
        {{#if structureDetail.insideWallList}}
            $("#insideWallArea").show();
        {{/if}}
        {{#if structureDetail.ceilingList}}
            $("#ceilingArea").show();
        {{/if}}
        {{#if structureDetail.doorList}}
            $("#doorArea").show();
        {{/if}}
        {{#if structureDetail.canopyList}}
            $("#canopyArea").show();
        {{/if}}
        {{#if structureDetail.windowList}}
            $("#windowArea").show();
        {{/if}}
    }

    $(".delete").unbind().click(function() {
      console.log("22222");
        if($(this).hasClass("on")){
            var url = $(this).attr("data-url");
            if(url!='') $.get( url, function( data ) {});
            $(this).parent().parent().parent().remove();
        }else{
          $(this).addClass("on");
        }
        return false;
    });

    $(".deleteFirst").unbind().click(function() {
        return false;
    });

    var addhtml = '';
    $(".articleAdd>button").click(function() {

        var meterialId = $(this).val();
        var dataClass = $(this).attr('data-class');
        var firstContents = $("#"+dataClass+"First").html();

        count = $("#"+meterialId+" .article:not([style*=\"display: none\"])").length;

        addhtml = '';
        addhtml+="<div class=\"article on\" >";

        if(count>0){
            firstContents=firstContents.replaceAll("deleteFirst","deleteFirst delete");
        }
        addhtml+=firstContents.replaceAll(dataClass+"[0]",dataClass+"["+count+"]");
        addhtml+="</div>";

        $("#"+meterialId+" .article:last").after(addhtml);

        $("input[type=number]").on("click", function(){
            $(this).select();
        });

        $('input.focusAct').bind('focus blur',_inputAtc);
        /* _inputAtc */
        function _inputAtc (event) {
            console.log('input');
            var _this = $(this),
                    _p = _this.parent('div'),
                    _v = _this.val();
            if (event.type == 'focus') {
                if (!_p.hasClass('focus')) {
                    _p.addClass('focus');
                }
            } else if (event.type == 'blur') {
                if (_v === '') {
                    _p.removeClass('focus').addClass('showMsg');
                } else {
                    _p.removeClass('showMsg').addClass('inputted');
                }
            }
            return
        }

        if(meterialId =="doorArea"){
            $(".subType").change(function() {
                var subtype = $(this).val();
                if(subtype=='H'){
                    $(this).parent().parent().find(".selectDiv").hide();
                    $(this).parent().parent().find(".widthDiv").show();
                    $(this).parent().parent().find(".heightDiv").show();
                }else{
                    $(this).parent().parent().find(".selectDiv").show();
                    $(this).parent().parent().find(".widthDiv").hide();
                    $(this).parent().parent().find(".heightDiv").hide();
                }
            });
        }
        $(".delete").unbind().click(function() {
            if($(this).hasClass("on")){
                $(this).parent().parent().parent().remove();
            }else{
                $(this).addClass("on");
            }
            return false;
        });

        return false;
    });

});
//replaceAll prototype 선언
String.prototype.replaceAll = function(org, dest) {
    return this.split(org).join(dest);
}
</script>