<div class="_l" id="step02">
    <div class="formsGroup noHP">
        <div class="boolean">
            <div class="booleanTitle">내벽</div>
            <div class="booleanButton" id="finsideWallYn" data-value="insideWallArea">
                <button value="Y" type="button">있음</button>
                <button value="N" class="on" type="button">없음</button>
            </div>
        </div>
        <div class="boolean">
            <div class="booleanTitle">천장</div>
            <div class="booleanButton" id="fceilingYn" data-value="ceilingArea">
                <button value="Y" type="button">있음</button>
                <button value="N" class="on" type="button">없음</button>
            </div>
        </div>
        <div class="boolean">
            <div class="booleanTitle">창문</div>
            <div class="booleanButton" id="fwindowYn" data-value="windowArea">
                <button value="Y" type="button">있음</button>
                <button value="N" class="on" type="button">없음</button>
            </div>
        </div>
        <div class="boolean">
            <div class="booleanTitle">도어</div>
            <div class="booleanButton" id="fdoorYn" data-value="doorArea">
                <button value="Y" type="button">있음</button>
                <button value="N" class="on" type="button">없음</button>
            </div>
        </div>
        <div class="boolean">
            <div class="booleanTitle">캐노피</div>
            <div class="booleanButton" id="fcanopyYn" data-value="canopyArea">
                <button value="Y" type="button">있음</button>
                <button value="N" class="on" type="button">없음</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var sdetailId = $("#structure_id").val();

        //수정
        if(sdetailId!='0'){
            $(".formArea button").removeClass("on");

            var insideWallYn = $("#insideWallYn").val();
            var ceilingYn = $("#ceilingYn").val();
            var windowYn = $("#windowYn").val();
            var doorYn = $("#doorYn").val();
            var canopyYn = $("#canopyYn").val();
            var downpipeYn = $("#downpipeYn").val();

            var obj = {
                "insideWallYn": insideWallYn,
                "ceilingYn": ceilingYn,
                "windowYn":windowYn,
                "doorYn":doorYn,
                "canopyYn":canopyYn,
                "downpipeYn":downpipeYn
            };

            $.each( obj, function( key, value ) {
                $("#f"+key+">button" ).each(function() {
                    if($(this).val() == value) $(this).addClass("on");
                });
            });
        }

        $(".formArea button").click(function() {
           // $("#insideWallArea").show();
            var step3Check = $(this).parent().attr("data-value");
            var step3Yn = $(this).attr("value");

            if(step3Yn=='Y'){
                $("#"+step3Check).show();
                $("#"+step3Check).addClass("on");

                if(step3Check=='ceilingArea'||step3Check=='insideWallArea'){
                    $("#step4"+step3Check).show();
                    $("#step4"+step3Check).addClass("on");
                }
            }else{
                $("#"+step3Check).hide();
                $("#"+step3Check).removeClass("on");
                if(step3Check=='ceilingArea'||step3Check=='insideWallArea'){
                    $("#step4"+step3Check).hide();
                    $("#step4"+step3Check).removeClass("on");
                }
            }
            $(this).parent().find("button").removeClass("on");
            $(this).addClass("on");
            return false;
        });

    });
</script>