<div id="header">
    <div class="_l">
        <div class="headerIcon"><a href="#" id="back"><img src="/images/m2/common/iconBack.png" alt="뒤로" /></a></div>
        <h1 class="headerTitle"><a href="/main">자동물량산출</a></h1>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#back").click(function() {
            history.back();
        });
    });
</script>