<div id="header">
    <div class="_l">
        <a href="/main"><div class="headerIcon"><img src="/images/m2/common/logoS.png" alt="M2" class="logo" /></div></a>
        <h1 class="headerTitle"><a href="/main">자동물량산출</a></h1>
        <button class="headerFunction" id="mypage"><img src="/images/m2/nav/n04.png" alt="도움말" /></button>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $("#mypage").click(function() {
            location.href="/user/mypage";
        });
    });
</script>