<!DOCTYPE html>
<html lang="ko" class="fullsize">
<head>
    <meta charset="UTF-8" />
    <title>M2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <script type="text/javascript" src="/js/m2/include.js"></script>
</head>
<body class="bgDef">
<div class="wrap">

    <div id="notice">PC 접속 : https://m2.app-panel.co.kr</div>

    <div class="login">
        <div class="loginLogo"><img src="/images/m2/common/logo.png" alt="M2" class="logo" /></div>
        <form action="/login" method="post">
        <div class="loginForm">
            <div class="inputArea">
                <div class="id">
                    <label>
                        <strong>아 이 디</strong>
                        <input type="text" name="username" value="" />
                    </label>
                </div>
                <div class="pw">
                    <label>
                        <strong>비밀번호</strong>
                        <input type="password" name="password" value="" />
                    </label>
                </div>
            </div>
            <div class="submitArea">
                <input type="submit" value="로 그 인" />
            </div>
            <div class="autoArea">
                <label>
                    <input type="checkbox" name="REMEBMER_ME_KEY"  />
                    <strong>자동로그인</strong>
                </label>
            </div>
        </div>
        </form>
        <div class="loginFooter">
            <div class="joinButton">
                <button id="join">무료회원가입</button>
            </div>
            <div class="findButton">
                <button id="findPassword">비밀번호를 잊어버리셨나요?</button>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
$(document).ready(function(){
    {{#if msg}}
        alert("회원가입완료. 로그인 후 서비스 이용바랍니다.");
    {{/if}}
    $("#join").click(function() {
        location.href="/user/register";
    });
});
</script>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "b99938aa251970";
    wcs_do();
</script>

</body>
</html>

