<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/css/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/css/bootstrap/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/bootstrap/sb-admin.css" rel="stylesheet">
    <script src="/js/handlebars/handlebars-v4.0.11.js"></script>
    <script type="text/javascript">
        function findId(){
            var id = $("#id").val();
            $.get( "/user/admin/findId?id="+id, function( data ) {
                if(data=='success'){
                    alert("사용가능");
                }else{
                    alert("사용불가 중복ID");
                }
            });
        }
    </script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{{> admin/common/nav}}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">회원가입</div>
            <div class="card-body">
                <form name="user" method="post" action="/user/admin/insert">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="name">이름</label>
                                <input class="form-control" id="name" name="name" type="text" placeholder="이름">
                            </div>
                            <div class="col-md-6">
                                <label for="id">ID</label>
                                <input class="form-control" id="id" name="id"  type="text" placeholder="ID" style="width:72%">
                                <button type="button" class="btn btn-primary" onclick="findId();" style="position: absolute; top:45%; left: 73%;">중복확인</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input class="form-control" id="email" name="email" type="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">전화번호</label>
                        <input class="form-control" id="phone" name="phone" type="text" placeholder="phone">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                알람 동의여부
                                <input type="radio" name="agree_yn" value="Y" aria-label="Radio button for following text input"> 동의
                                <input type="radio" name="agree_yn" value="N"  aria-label="Radio button for following text input"> 비동의
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="passwd">Password</label>
                                <input class="form-control" id="passwd" name="passwd" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label for="passwd2">Confirm password</label>
                                <input class="form-control" id="passwd2" type="password" placeholder="Confirm password">
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <input type="submit" value="등록" class="btn btn-primary" />
                        <a class="btn btn-primary" href="/user/admin/list" role="button">목록</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> admin/common/footer}}

</body>
</html>
