<!DOCTYPE HTML>
<html>
<head>
    <title>M2 관리자</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/js/admin/common/include.js"></script>
</head>
<body>

{{> admin/common/nav }}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">게시판 수정</div>
    <div class="card-body">
        {{#boardMaster}}
            <form name="boardMasterForm" method="post" action="/admin/board/master/modify/{{id}}">
                <div class="form-group">
                    <label for="name">게시판명</label>
                    <input class="form-control" id="name" name="name" type="text" placeholder="게시판명" value="{{name}}">
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="replyYn">답글여부</label>
                            <br />
                            <input type="radio" id="replyYn" name="replyYn" value="Y" aria-label="Radio button for following text input"> 답글
                            <input type="radio" name="replyYn" value="N"  aria-label="Radio button for following text input"> 공지형
                        </div>
                        <div class="col-md-6">
                        <label for="skinName">스킨명</label>
                        <input class="form-control" id="skinName" name="skinName" type="text" placeholder="스킨명">
                            <!--ADMIN <input type="checkbox" name="roles" value="ADMIN"/> |
                            USER  <input type="checkbox" name="roles" value="USER" />-->
                        </div>
                    </div>
                </div>

                <div style="text-align: center">
                    <input type="submit" value="수정" class="btn btn-primary" />
                    <button type="button" class="btn btn-primary" onclick="boardMasterRemove({{id}})">삭제</button>
                    <a class="btn btn-secondary" href="/admin/board/master/list" role="button">목록</a>
                </div>
            </form>
        {{/boardMaster}}
    </div>
</div>

{{> admin/common/footer }}
<script type="text/javascript">
    function boardMasterRemove(id){
        if(confirm("삭제하시겠습니까?")){
            $.get( "/admin/board/master/remove/"+id, function( data ) {
                if(data=='success'){
                    alert("삭제되었습니다");
                    location.href="/admin/board/master/list";
                }
            });
        }
    }
</script>
</body>
</html>
